<header>
  <h1 class="long">Wow! So Very New Pictures!</h1>
  <h1 class="short">So New Pictures!</h1>
      <% if flash[:alert] %>
       <p class="alert"><%= flash[:alert] %></p>
      <% end %>

      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
  <p class="long">Not pictures enough? <%= link_to "Much click here!", "/pictures/new" %></p>
  <p class="short"><%= link_to "Much new here!", "/pictures/new" %></p>
</header>

<ul class="allpics clearfix">
  <%# @pictures.each do |picture| %>
  <% @most_recent_pictures.each do |picture| %>
<li class="small_pic">
    <figure >
      <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
      <br>
      <caption><%= picture.title %> <br> <%= link_to "#{picture.artist}", "/artists/#{picture.artist}" %></caption>
    </figure>
  <% end %>
  </li>
</ul>

<h1 class="long">Wow! So Very Old Pictures!</h1>
<h1 class="short">So Old Pictures!</h1>
<p class="number">(<%= Picture.created_before(1.month.ago).count %> many old pictures)</p>

<ul class="allpics clearfix">
  <% Picture.created_before(1.month.ago).each do |picture| %>
  <li class="small_pic">
    <figure >
      <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
      <br>
      <caption><%= picture.title %> <br> <%= link_to "#{picture.artist}", "/artists/#{picture.artist}" %></caption>
    </figure>
  </li>
  <% end %>
<ul>
